#centrum {
    display: flex;
    justify-content: center;
}
#kleurNavbar {
    background: RGBA(186, 188, 187);
        background: linear-gradient(360deg, rgba(186, 188, 187, 1) 0%, rgba(56, 56, 56, 1) 100%);
}
#homeFoto{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    margin: 0%;
    padding: 0;
}
#fotoHp{
    height: 50%;
    width: 100%;
    margin: 0%;
    padding: 0px;
}

/* From Uiverse.io by sekaiking */
.cooleKnop {
    background-color: transparent;
    color: black;
    border-radius: 10em;
    font-size: 13px;
    font-weight: 600;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    margin-left: 5px;
    margin-right: 5px;
}

.cooleKnop:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

;

.cooleKnop:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}
.swishingTekst{
    font-size: 23px;
}
